-r requirements.txt
mock
pytest
pytest-cov
flake8
flake8-no-fstring
black
tox
coverage
codecov
# used for example confluence attach file
python-magic

# On October 4, 2022 importlib-metadata released importlib-metadata 5.0.0 and in version 5.0.0
# They have Deprecated EntryPoints and that's why you are facing this error.
importlib-metadata<=4.13.0

certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
